p.a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  body {
    background-image: url(./assets/images/grunge_wall.png);
  }  

  body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .content {
    padding: 16px;
    padding-top: 102px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 102px;
  }

  .headings {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
  }

  .button {
    display: block;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    margin: 0 12px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(61, 58, 58);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  div.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 110px;;
    background: rgb(61, 58, 58);
    color: white;
    text-decoration: none;
  }

  div.headertwo {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 110px;;
    background: rgb(61, 58, 58);
    color: white;
    text-decoration: none;
  }

  content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  section {
    margin: 25px 13px 25px 0;
    background: white;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    
  }

  aside {
    margin: 25px 13px 25px 0;
    flex: 0 0 270px;
    background: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    max-width: 270px;
    height: 170px;
    float: right;
  }











 /* Responsiveness */

@media screen and (min-width: 769px) {
  footer {
      position: fixed;
  }
  
}

@media screen and (max-width: 768px) {
  content {
      display: block;
  }

  div.headertwo,
  section,
  aside {
      margin: 10px;
      padding: 15px;
      width: initial;
  }

  div.headertwo {
      padding: 0;
      margin: 0;
  }

}

@media screen and (max-width: 640px) { 
  div.headertwo {
      display: block;
  }

  div.headertwo h1 {
    display: block;
    text-align: center;
}

nav {
    display: flex;
}

nav a {
    padding: 15px;
    flex: 1 0 auto;
    text-align: center;
}


}
  















  